{% set id = random(9999999) %}

<style>
.arrow[data-id='{{id}}'] .icon-arrow {
    fill: {{ color|default('#EFE4EC') }};
}
.arrow[data-id='{{id}}'] {
    border-color: {{ color|default('#EFE4EC') }};
}
.arrow[data-id='{{id}}']:hover .icon-arrow {
    fill: {{ bg|default('#EFE4EC') }};
}
.arrow[data-id='{{id}}']:hover {
    background-color: {{ color|default('#EFE4EC') }};
}
</style>

<button class='{{ class }} arrow rounded-full border-2' aria-label='{{ label }}' data-id='{{ id }}'>
{% if direction == 'left' %}
    {% include 'icons/icon-cta-arrow-left.twig' %}
{% else %}
    {% include 'icons/icon-cta-arrow-right.twig' %}
{% endif %}
</button>